/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */

/*вторичный цвет фона #F5F4FA */

:root {
  --color-accent: #212121;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--color-accent);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--color-accent);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header */

.header-page {
  border: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-accent {
  color: var(--color-accent);
}

.logo-accent-footer {
  color: #ffffff;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .header-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--color-accent);
}

.site-nav .item.current {
  color: #2196f3;
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* header-link */

.header-click {
  display: flex;
}

.header-mail {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  color: #757575;
  text-decoration: none;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: #2196f3;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* main */

/* hero-section */
.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* button  */

.button,
.button-portfolio {
  cursor: pointer;
}

.button.primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 210px;
  border: none;
}

.button.primary:hover,
.button.primary:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.button-portfolio.primary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.button.secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
}

.button.site.secondary {
  min-width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
}

.button.app.secondary {
  min-width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  border-radius: 4px;
}

.button.design.secondary {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  border-radius: 4px;
}

.button.market.secondary {
  min-width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  border-radius: 4px;
}

/* section */

.section-title {
  color: var(--color-accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 94px;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-img {
  margin-bottom: 188px;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 154px;
}

.section-team {
  background-color: #f5f4fa;
}

.team-img {
  margin-bottom: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 124px;
}

.section > .text {
  font-size: 14px;
  line-height: 1.7;
}

/* portfolio */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .portfolio-nav:not(:last-child) {
  margin-right: 8px;
}

.portfolio-sample {
  display:flex;
  flex-wrap: wrap;
}

.container-sample {
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  margin-right: 45px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  /* justify-content: space-between; */
}

.container-sample:nth-child(3n) {
  margin-right: 0px;
}

.container-sample:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

/* footer */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
}

.logo.footer {
  padding-top: 60px padding-bottom;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-mail,
.footer-tel {
  color: #757575;
  text-decoration: none;
}

.footer-mail {
  margin-bottom: 9px;
}
