/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */

/*вторичній цвет фона #F5F4FA */

body {
  color: #212121;
  background-color: #ffffff;
  font-family: 'Roboto', 'Raleway', sans-serif;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  color: #2196f3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
}
.logo-accent {
  color: #212121;
}

.logo-accent-footer {
  color:  #ffffff;
}

/* site-nav */

.site-nav .link:hover,
.site-nav .link:focus {
  color: black;
}

.site-nav .link.current {
  color: #2196f3;
}

/* header-link */

.link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
}

.mail-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.tel-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* main */

/* section */

.section-title {
  color: #212121;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
}

.features-subtitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 1;
}

.features-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  color: #757575;
}

.team-subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
}

.team-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  color: #757575;
}

.section > .text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
}

/* hero-section */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  color: #ffffff;
}

/* button  */

.button {
  cursor: pointer;
}

.button.primary {
  color: #ffffff;
  background-color: #2196f3;
}

.button.secondary {
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio-subtitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 78;
  color: #212121;
}

.portfolio-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  color: #757575;
}

.footer {
  background: #2F303A;
}

.footer-adress {
  font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1,7;
color: #FFFFFF
}

.footer-mail {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1,7;
  color: #757575;
}

.footer-tel {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1,7;
  color: #757575;
}
