/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */

/*вторичный цвет фона #F5F4FA */

:root {
  --color-main: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  color: var(--color-main);
  background-color: var(--color-white);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--color-main);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* HEADER */

.header-page {
  border-bottom: 1px solid #ececec;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}

.logo-accent-header {
  color: var(--color-main);
}

.logo-accent-footer {
  color: var(--color-white);
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .header-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--color-main);
}

.site-nav .item.current {
  color: var(--color-accent);
}

.header-item {
  position: relative;
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.link:hover,
.item.link:focus {
  color: var(--color-accent);
}

.item.current::after {
  content: '';
  position: absolute;
  left: o;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

/* header-link */

.header-contacts {
  display: flex;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--color-accent);
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

/* MAIN */

/* hero-section */
.hero {
  padding: 200px 0;
  background-color: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/images_index/bgc_hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* button  */

.button,
.button-portfolio {
  cursor: pointer;
}

.button.primary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--color-white);
  background-color: #188ce8;
}

.button-portfolio.primary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.button.secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:focus,
.button.secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.site.secondary {
  min-width: 128px;
  border-radius: 4px;
}

.button.app.secondary {
  min-width: 145px;
  border-radius: 4px;
}

.button.design.secondary {
  min-width: 103px;
  border-radius: 4px;
}

.button.market.secondary {
  min-width: 130px;
  border-radius: 4px;
}

/* section */

.section {
  padding: 94px 0;
}

.section > .text {
  font-size: 14px;
  line-height: 1.7;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  color: var(--color-main);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Features */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-item {
  flex-basis: 270px;
}

.icon-features {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.icon-feature + .icon-feature {
  margin-left: 30px;
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

/* Work */

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}

.work-item {
  position: relative;
}
.work-desc {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work-desc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 27px 0px;
}

/* Team */

.section-team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding: 30px 0;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social-link {
  width: 44px;
  height: 44px;
}

.team-social-link + .team-social-link {
  margin-left: 10px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.team-social-icon {
  fill: currentColor;
}

/* Clients */

.clients {
  display: flex;
}

.clients-list {
  width: 170px;
  height: 92px;
}

.clients-list:not(:first-child) {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--color-accent);
  border-color: 1px solid var(--color-accent);
}

.clients-icon {
  fill: currentColor;
}

/* Portfolio */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .portfolio-nav:not(:last-child) {
  margin-right: 8px;
}

.portfolio-sample {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.container-sample {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-sample:hover,
.container-sample:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-sample:hover .portfolio-overlay {
  transform: translateY(0);
}

.container-sample:nth-child(3n) {
  margin-right: 0px;
}

.container-sample:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
  transition: transform 400ms ease;
}

/* FOOTER */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-inner {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-adress {
  font-style: normal;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.7;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-location {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-decoration: none;
}

.footer-link {
  color: var(--color-secondary);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.footer-social-list + .footer-social-list {
  margin-left: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

.footer-title {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 0.5s visibility 0.5s;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
