// team

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .social__item {
    width: 44px;
    height: 44px;
  }
  
  .social__item + .social__item {
    margin-left: 10px;
  }
  
  .social__link {
    display: flex;
    width: 100%;
    height: 100%;
    color: #afb1b8;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
  }
    
  .social__icon {
    fill: currentColor;
  }
  
//   footer

.footer__social {
    margin-left: 70px;
  }

  .social-network {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .social-network__item {
    margin-left: 10px;
  }
  
  .social-network__item:first-child {
    margin-left: 0;
  }
  
  .social-network__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
  }
    
  .social-network__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
  }