body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--first-title-color);
   background-color: var(--second-title-color);
  font-family: 'Roboto', sans-serif;
}




// ---------------------------------------------------

.portfolio-layer > img {
  width: 100%;
}

  
    
  