%section {
    padding-top: 94px;
    padding-bottom: 94px;
}
@mixin section ($p-top: 94px, $p-bottom: 94px) {
    padding-top: $p-top;
    padding-bottom: $p-bottom;
}

.section {
    padding: 94px 0;
  }