.section {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @media screen and (min-width:1200px) {
   padding-top: 94px;
   padding-bottom: 94px;
  }
}

.features__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px) and (max-width:1199px) {
      margin: -15px;
   }
  }
  
  .features__item {
        @media screen and (max-width:767px) {
      &:not(:last-child) {
              margin-bottom: 30px;
          }
  }
  @media screen and (min-width:768px) and (max-width:1199px) {
      margin: 15px;
      width: 354px;
  }
  @media screen and (min-width:1200px) {
      width: 270px;
      &:not(:first-child) {
          margin-left: 30px;
      }
  }
  }
  
  .features__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (min-width:768px) {
      width: 354px;
  }
  @media screen and (min-width:1200px) {
      width: 270px;
  }
      }
  
  .features__icon + .features__icon {
    margin-left: 30px;
  }
  
  